
// Body
$body-bg: #eae9e2;
$blue: #0067b2;
$green: #25a073;

// Border Radius
$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$grid-columns: 18 !default;

$card-border-width: 0;

// Input focus
//$input-btn-focus-box-shadow:  0 0 6px $input-btn-focus-width $input-btn-focus-color;

// Borders
// $laravel-border-color: darken($body-bg, 10%);
// $list-group-border: $laravel-border-color;
// $navbar-default-border: $laravel-border-color;
// $panel-default-border: $laravel-border-color;
// $panel-inner-border: $laravel-border-color;

// Brands
// $brand-primary: #3097D1;
// $brand-info: #8eb4cb;
// $brand-success: #2ab27b;
// $brand-warning: #cbb956;
// $brand-danger: #bf5329;
//
// // Typography
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;
//
// // Navbar
// $navbar-default-bg: #fff;
//
// // Buttons
// $btn-default-color: $text-color;
//
// // Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);
//
// // Panels
// $panel-default-heading-bg: #fff;
