
// Body
$body-bg: #eae9e2;
$blue: #0067b2;
$green: #25a073;
$red: #d72e3d;
$light-green: desaturate(lighten($green, 22%), 22%);
$light-red: desaturate(lighten($red, 22%), 22%);

$primary:       $blue;
$info:          $blue;

// Border Radius
$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

$grid-columns: 18 !default;

$card-border-width: 1px;
$card-border-color: rgba(black, .3);

$font-family-base: 'Roboto', sans-serif;

$table-accent-bg:             rgba(black, .03);
/*$table-head-bg:               desaturate(lighten($primary, 50%), 12%);
$table-border-color:          rgba($blue, .5);
 */
