@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $blue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

// Show-from-left transition
.fade-in-enter-active, .fade-in-leave-active {
  transition: transform 1s, opacity 0.25s;
}
.fade-in-enter, .fade-in-leave-to {
  opacity: 0;
  //transform: translate(-20px);
}

// Fading Transition

.fade-enter-active,
.fade-leave-active {
  transition: opacity .25s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
  opacity: 0
}

// Sliding Transition

.slide-enter-active,
.slide-leave-active {
  transition: opacity .25s, height .25s;
  opacity: 1;
}

.slide-enter,
.slide-leave-to
/* .fade-leave-active in <2.1.8 */

{
  opacity: 0
}

.info-box, .print-list {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 350ms;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to top, $body-bg, rgba($body-bg, 0));
  }

  &-enter,
  &-leave-to { opacity: 0 }

  &-leave,
  &-enter-to { opacity: 1 }

  &-enter-active,
  &-leave-active {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in-out;
  }

  &-enter-active { transition-delay: 100ms }
}

.print-list::after {
  background-image: linear-gradient(to top, $white, rgba($white, 0));
}

.fade-page-enter-active, .fade-page-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-page-enter-active {
  transition-delay: .25s;
}

.fade-page-enter, .fade-page-leave-active {
  opacity: 0
}
