.spinner {
  width: 40px;
  height: 40px;
  transform: translateY(-20px) translateX(-20px);
  top: 50%;
  left: 50%;
  position: absolute;
  //margin: -20px auto 0 auto;
}

body {
    padding-top: 40px;
    padding-bottom: 100px;
}

a {
  transition: color .25s, background .25s;
}
.card {
  box-shadow: 0 2px 4px rgba(black, .05);
}

.bg-danger-light {
  background-color: #f7d1d5;
}

.container {
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}

.vue-popover {
  background: $blue !important;
  color: white !important;
  padding: 12px !important;
  font-size: 12px !important;
  box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.09) !important;
  text-align: center;

  &.dropdown-position-bottom::before {
      border-bottom-color: $blue !important;
  }
  &.dropdown-position-left::before {
      border-left-color: $blue !important;
  }
  &.dropdown-position-right::before {
      border-right-color: $blue !important;
  }
  &.dropdown-position-top::before {
      border-bottom-top: $blue !important;
  }
}

.table tr.tfooter {
  border-top: 1px solid rgba($black, .5);
  td {
    font-weight: bold;
    background: rgba($black, .08);
  }
}

.form-bfc {
  display: block;
  overflow: hidden;
}

.btn-right {
  margin-left: 15px;
  float: right;
}

@media print {
  body {
    margin: 0;
    padding: 0 !important;
    min-width: 768px;
  }
  .container {
    width: auto;
    min-width: 750px;
  }
}

@media print {
  body {
    background: white !important;
  }
}

.printing {
  overflow: visible !important;
  .d-print-table-cell {
    display: table-cell !important;
  }

  .card {
    overflow: visible !important;
    padding-bottom: 80px !important;
  }

  table {
    overflow: visible !important;
  }

  .d-print-none {
    display: none !important;
  }

  .print-list {
    height: auto !important;
  }

  .d-print-no-border {
    border: none !important;
  }

  .d-print-no-padding {
    padding: 0 !important;
  }

  thead {
        display: table-row-group !important;
    }
  tfoot {
    display: table-row-group !important;
  }
  tr {
    page-break-inside: avoid !important;
  }

  thead th { height: 1.1cm; }
}
