.spinner {
  width: 40px;
  height: 40px;
  transform: translateY(-20px) translateX(-20px);
  top: 50%;
  left: 50%;
  position: absolute;
  //margin: -20px auto 0 auto;
}
body {
    padding-top: 40px;
    padding-bottom: 90vh;
}

.card {
  box-shadow: 0 2px 4px rgba(black, .05);
}

.container {
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}

.vue-popover {
  background: $blue !important;
  color: white !important;
  padding: 12px !important;
  font-size: 12px !important;
  box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.09) !important;
  //border-right-color: $blue !important;
  &::before {
    border-bottom-color: $blue !important;
  }
}
