section.order-navigation {
  .sticky-container.fixed-top {
    top: -1px;
  }

  nav.navbar {
    //background: white;
    border: 1px solid rgba(black, .3);
    box-sizing: border-box;
    box-shadow: 0 4px 0 0 $body-bg;
    flex-wrap: nowrap;
  }
}

.navbar {
  .clear-search {
    margin-left: -34px;
    color: $gray-500;

    &:hover {
      color: $gray-700;
    }
  }

  .form-inline {
    input.form-control {
      padding-right: 35px;
    }
    label {
      display: flex;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 10px 10px;
      background: white;
      z-index: 12;

      label, .clear-search {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 16px;
      }

      input.form-control {
        height: 100%;
        padding-right: .75rem;
      }
    }
  }

  .search-icon {
      margin-left: -34px;
      color: $gray-500;
  }
  .save-indicator-element {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
  }
  .indicator-wrapper {
    position: absolute;
    width: 170px;
    right: 0;
    text-align: right;
    padding-right: 6px;
    .status-text {
      //position: absolute;
      display: inline-block;
      //left: 0;
      height: 28px;
      vertical-align: middle;
    }

    &.saving {
      .status-text {
        position: absolute;
        top: 8px;
        right: 40px;
      }
    }

    .spinner-wrapper {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
  .save-indicator {
    //position: relative;
    //width: 120px;
    i {
      //position: absolute;
      //right: 6px;
    }
    .sl-spinner {
      //margin-top: 8px;

      //right: 8px;
    }
  }
}

.field-titles {
  //border-bottom: 1px solid $gray-400;
  //border-top: 1px solid $gray-400;
  padding-top: 14px;
  padding-bottom: 7px;
  border: 1px solid rgba(black, .3);
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 5px;
  box-shadow: 0 5px 0 0 $body-bg;
  position: relative;
  z-index: 10;
}

.btn.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  box-shadow: 0 3px 8px 0px rgba(black, 0.2);
}
