section.order-navigation {
  .sticky-container.fixed-top {
    top: -1px;
  }

  nav.navbar {
    //background: white;
    border: 1px solid rgba(black, .3);
    box-sizing: border-box;
    box-shadow: 0 4px 0 0 $body-bg;
    flex-wrap: nowrap;

    .clear-search {
      margin-left: -34px;
      color: $gray-500;

      &:hover {
        color: $gray-700;
      }
    }

    .search-icon {
        margin-left: -34px;
        color: $gray-500;
    }

    .save-indicator {
      cursor: pointer;
      position: relative;
      margin-right: 8px;
      width: 40px;

      i {
        position: absolute;
        right: 6px;
      }
      .sl-spinner {
        margin-top: 8px;
        position: absolute;
        right: 8px;
      }
    }
  }
}

.field-titles {
  //border-bottom: 1px solid $gray-400;
  //border-top: 1px solid $gray-400;
  padding-top: 14px;
  padding-bottom: 7px;
  border: 1px solid rgba(black, .3);
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 5px;
  box-shadow: 0 5px 0 0 $body-bg;
  position: relative;
  z-index: 10;
}
