.iziToast.vue-toast {
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0;
    &.iziToast-color-blue {
        //background: theme-color-level($blue, -10);
        @extend .bg-info;

        .iziToast-body {
          p, i.iziToast-icon {
            color: white;
          }
        }
    }
}
